.darkMode a {
  background-color: transparent;
  color: hsla(240, 100%, 70%, 1.0);
}
.darkMode a:active,
a:hover {
  color: hsla(240, 100%, 90%, 1.0);
}
.darkMode a:visited {
  color: hsla(270, 75%, 70%, 1.0);
}
.darkMode {
  background-color: hsla(0, 0%, 0%, 0.8);
  color: hsla(0, 100%, 100%, 0.8);
  font-family: Roboto, sans-serif;
}
.darkMode code {
  background-color: hsla(0, 0%, 0%, 0.76);
  color: inherit;
}
.darkMode svg {
  fill: hsla(0, 100%, 100%, 0.8);
}
